<mat-toolbar class="tl-start-header">
  <img class="tl-logo" src="assets/logo.svg" alt="Links Logo">
  <div class="tl-header-name">TryLinks Interactive Shell</div>
  <div class="tl-expander"></div>
  <button mat-button color="primary" class="tl-dashboard-button" (click)="navToDashboardPage()">Dashboard</button>
  <button mat-button color="primary" class="tl-logout-button" (click)="logout()">Log out</button>
</mat-toolbar>

<div class="tl-interactive-content">
  <div class="tl-interactive-desc">
    <p>This is a <i>Linx</i> shell, where you can type in Links code and run it.</p>
    <p>You can find some pointers to the syntax <a href="http://links-lang.org/quick-help.html">here</a>, Have fun
      exploring Links!</p>
  </div>
  <div class="tl-interactive-shell" #shell [scrollTop]="shell.scrollHeight">
    <app-shell-line *ngFor="let line of allLines" [line]="line"></app-shell-line>
    <mat-form-field class="tl-interactive-input" floatLabel="false">
      <input matInput type="text" [(ngModel)]="currentInputLine" (keyup.enter)="onInputChange()"/>
      <div matPrefix>{{inputPrompt}}</div>
    </mat-form-field>
  </div>
</div>
