:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tl-logo {
  height: 40px;
  margin: 0 16px;
}

.tl-expander {
  flex-grow: 1;
}

.tl-logout-button,
.tl-interactive-button,
.tl-dashboard-button {
  justify-self: flex-end;
  padding: 0 24px;
}

.tl-tutorial-container {
  flex-grow: 1;
}

.tl-tutorial-content {
  flex-grow: 1;
  height: 100%;
  display: flex;
}

.tl-tutorial-main-desc,
.tl-tutorial-main-col,
.tl-tutorial-main-render {
  width: calc(100% / 3);
}

.tl-tutorial-main-desc {
  overflow: auto;
}

.tl-tutorial-main-col {
  display: flex;
  flex-direction: column;

  // ngx-codemirror {
  //   height: 75%;
  // }

  .tl-tutorial-main-render-control {
    height: 25%;
    border-radius: 8px;
    overflow: auto;
    background-color: lightgrey;
    color: red;
  }

  .tl-compile-btn {
    position: absolute;
    right: 34%;
    bottom: 3%;
  }
}

.tl-tutorial-main-render-empty {
  color: grey;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 94vh;
}
