<form [formGroup]="formGroup">
  <mat-form-field class="input-field">
    <mat-label>Username</mat-label>
    <input matInput required formControlName="username" type="text" />
    <mat-error *ngIf="username.hasError('pattern')">
      Username must only contain alphanumeric characters
    </mat-error>
    <mat-error *ngIf="signUpFailed">Sign up failed. Please try again.</mat-error>
  </mat-form-field>
  <mat-form-field class="input-field">
    <mat-label>Email</mat-label>
    <input matInput required formControlName="email" type="text" />
    <mat-error *ngIf="email.hasError('email')">
      Not a valid email address
    </mat-error>
    <mat-error *ngIf="signUpFailed">Sign up failed. Please try again.</mat-error>
  </mat-form-field>
  <mat-form-field class="input-field">
    <mat-label>Password</mat-label>
    <input matInput required formControlName="password" [type]="hidePassword ? 'password' : 'text'" />
    <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{ hidePassword ? "visibility_off" : "visibility" }}
    </mat-icon>
    <mat-error *ngIf="signUpFailed">Sign up failed. Please try again.</mat-error>
  </mat-form-field>
  <mat-form-field class="input-field">
    <mat-label>Confirm Password</mat-label>
    <input matInput required formControlName="confirmPassword" [type]="hidePassword ? 'password' : 'text'" />
    <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{ hidePassword ? "visibility_off" : "visibility" }}
    </mat-icon>
    <mat-error *ngIf="signUpFailed">Sign up failed. Please try again.</mat-error>
  </mat-form-field>
  <mat-error *ngIf="formGroup.hasError('passwordNotMatched') && (formGroup.touched || formGroup.dirty)">
    Passwords do not match!
  </mat-error>
  <mat-progress-spinner *ngIf="signUpLoading" color="primary">
    </mat-progress-spinner>
  <button *ngIf="!signUpLoading" class="sign-in-button" mat-raised-button color="primary" (click)="onSignUp()">
    Sign up
  </button>
</form>
