.description{
  font-weight:bold;
}

.tl-logo {
  height: 40px;
  margin: 0 16px;
}

.tl-expander {
  flex-grow: 1;
}

.container {
  text-align: center; 
  font-family: 'Arial', sans-serif;
  color: #FFFFFF; 
  padding: 50px 20px; 
}

.title {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.subheading {
  font-size: 1.5em;
  margin-bottom: 2em;
}

.image-container {
  display: flex; 
  justify-content: center; 
  gap: 20px ;
  max-width:800px;
  margin-left: auto;
  margin-right: auto;
}

.center-image {
  max-width: 45%;
}

.description {
  margin-bottom: 2em; 
}

.cta-buttons button {
  background-color: rgb(22, 40, 58); 
  color: #FFFFFF; 
  border: none; 
  padding: 10px 20px; 
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px;
}

.cta-buttons .try-button {
  background-color: rgb(220, 40, 58);
}

.cta-buttons button:hover {
  opacity: 0.7;
}