<div class="tl-welcome">
  <div class="tl-header">
      TryLinks {{envName ? envName : ""}}
  </div>
  <div class="tl-content">
      <div class="tl-description">
          <img class="tl-logo" src="assets/logo.svg" alt="Links Logo">
          <div class="tl-description-text">
              <p><a href="http://links-lang.org/">Links</a> is a functional programming language designed to make web programming easier.</p>
              <p>Links eases building interactive web applications with significant client- and server-side components.</p>
              <p>Trylinks is an online platform where you can explore the Links language, and learn to use Links to make some webpages along the way too!</p>
              <div class="tl-demo">
                  <img class="tl-demo-gif" src="assets/REPL.gif" alt="Links REPL Demo">
                  <img class="tl-demo-gif" src="assets/tutorial.gif" alt="Links tutorial Demo">
              </div>
          </div>
      </div>
      <div class="ti-actions">
          <button mat-raised-button (click)="navToStartPage()">Sign up / Sign in</button>
      </div>
  </div>
</div>
