<mat-toolbar class="tl-start-header">
    <img class="tl-logo" src="assets/logo.svg" alt="Links Logo">
    <div class="tl-header-name">  TryLinks {{envName ? envName : ""}} </div>
    <div class="tl-expander"></div>
    <app-login-button></app-login-button>
  </mat-toolbar>

  <div class="container">
    <h1 class="title">Links Made Effortless.</h1>
    <h2 class="subheading">Dive right in with TryLinks – no setup needed.</h2>
    <div class="image-container">
      <img src="assets/REPL.gif" alt="Repl Shell Example Image" class="center-image">
      <img src="assets/tutorial.gif" alt="Tutorial Page Example Image" class="center-image">
    </div>
    <p class="description">TryLinks allows you to experiment with the Links programming language, bypassing difficult setup. Experiment freely, explore Links concepts, and build your understanding – all within a  user-friendly environment.</p>
    <div class="cta-buttons">
      <button class="try-button" (click)="login()">Try it Now!</button>
    </div>
  </div>